//////////////////////////////////////////////////////////////////
//////////////VARIABLE
//////////////////////////////////////////////////////////////////
$color-cloud : rgba(236, 240, 241, 1.0);
$color-midnight-blue : rgba(44, 62, 80, 1.0);

$color-green-darken: rgba(39, 174, 96, 1.0);
$color-green-light: rgba(46, 204, 113, 1.0);

$bg-medium: 68.75em;
$bg-small: 59.375em;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bg-medium) {
    font-size: 55%;
  }

  @media only screen and (max-width: $bg-small) {
    font-size: 62.5%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.5;

  padding: 0 3rem;
  background-color: $color-cloud;
}