.textbox {
  background-color: white;
  color: $color-midnight-blue;
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.7rem;
  transition: background-color .4s, color .2s, opacity .4s, visibility .4s;

  &:hover {
    background-color: $color-midnight-blue;
    color: white;
    cursor: pointer;
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }

  &--wrong {
    background-color: $color-red-light;
    color: white;
  }

  &--right {
    background-color: $color-green-light-1;
    color: white;
  }
} 